/*body {
  overflow-y: auto;
  background-color: antiquewhite;
  background-image: unset;
}*/


#wrapper {
  height: fit-content !important;
}


@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}







#project-container {
  transition: all 1.1s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0);
  color: rgb(37, 37, 37);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: fit-content;
  min-height: 100vh;
  padding: 10px;
}

.project-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 40px;
  border-radius: 7px;
  max-width: 100vw;
}

.project-label {
  box-shadow: 0 10px 30px -15px var(--navy-shadow);
  transition: var(--transition);
  position: relative;
  z-index: 2;
  padding: 25px;
}

.project-description{
max-width: 20vw;
}

.swipe-link::before {
  content: "";
  position: absolute;
  top: calc(100% - (44px / 2));
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  background-color: black;
  z-index: -1;
}

@media(max-width:1000px) {
  .project-item {
    flex-direction: column;
  }

  .swipe-link::before {
    top: -7px;
    left: 50%;
    width: 1px;
    height: 50%;
    right: 50%;
  }

  .project-description{
    max-width: 70vw;
    }
}



.bw-img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  transition: all 0.25s cubic-bezier(0.610, 0.215, 0.355, 1);
  height: auto;
  width: min-content;
  max-width: 30vw;

}

.bw-img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  box-shadow: 0 0 1rem #ffffffd4;
}


/* Hide unrline from hovered links*/
a {
  color: rgba(251, 180, 66, 1)
}

a:hover {
  text-decoration: none !important;
}


.swipe-link h2 {
  color: rgba(251, 180, 66, 1);
  text-decoration: none;
  background:
    linear-gradient(to right, rgba(251, 180, 66, 0), rgba(251, 180, 66, 0)),
    linear-gradient(to right, rgba(251, 180, 66, 1), rgba(237, 211, 171), rgb(97, 61, 8));
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
  background-color: darkseagreen;
  padding: 10px;
  border-radius: 5px;
}

.swipe-link h2:hover,
.swipe-link h2:focus {
  text-decoration: none !important;
  background-size: 0 0.1em, 100% 0.1em;
}

@media(max-width: 1000px){
  .bw-img {
    width: 60vw;
  }
}