#profile-card {
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

#title-pane {
    border-radius: 500px;
    padding: 40px;
    padding-bottom: 20px;
    margin-top: -40px;
    text-align: center;
    background-color: #f4f6f15e;
    box-shadow: 0 0 10px 0px #0003;
    backdrop-filter: blur(4px);
}

#profileImg {
    z-index: 1000;

    border-color: #343a40 !important;
    border-width: 1px;
    border-style: solid;
    box-shadow: 0 0 20px 0px #000;
    transition: box-shadow .7s !important;
}
#profileImg:hover{
    box-shadow: 0 0 70px 0px #000;
}


.funky {
    transition: all 1.4s;
}

.funky:hover {
    filter: hue-rotate(270deg);
    text-shadow: 4px 4px rgba(0, 0, 0, 0);
}





/* Typewriter effect for subtitle */
.typewriter {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation:
        typing 7s steps(40, end),
        blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from {
        width: 0
    }
  
    to {
        width: 100%
    }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
  
    from,
    to {
        border-color: transparent
    }
  
    50% {
        border-color: orange;
    }
  }
  
