

.social-btn {
    margin: .1rem;
}

.social-btn-img {
    filter: invert(100%) !important;
    transition: transform .3s ease-in-out;
}

.social-btn-img:hover {
    opacity: .9;
    transform: rotate(-10deg);
}

@media(max-width:1000px) {
    #social {
        flex-direction: column;
        position: fixed;
        bottom: 0;
        right: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}