@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;1,300;1,400&display=swap');

/*@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap'); 'Kumbh Sans', sans-serif;--> headings */ 
/* ++ Jost for text */


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(35, 32, 32, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary-font: 'Poiret One', cursive !important;
}

a {
  font-weight: 500;
  color: rgb(193, 107, 41);
  text-decoration: inherit;
}

a:hover {
  color: rgb(115, 63, 24);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

h1 {
  font-size: 3rem;
  line-height: 1.1;
}

/*
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
*/





.pill-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 12px;
  grid-auto-rows: auto;
  padding: 5px 50px;
  padding-left:0;
}

.pill {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2px 10px;
  border-radius: 30px;
  border: solid 1px #c87066;
  margin: 0;
  background-color: #faebd726;
  transition: all .4s;
}

.pill:hover {
  box-shadow: 0 0 10px 0px #4da893c2;
}



@media(max-width:1000px) {
  h1{
    font-size: 2.7rem;;
  }

  .pill-container {
    padding: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    padding-left: 0;
  }

  .pill {
    font-size: small;
  }
}
